body{
    background-color: hsl(212, 45%, 89%);
}
.card-qr{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 290px;

    margin: auto;
    row-gap: 20px;
    background-color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    box-shadow: 0px 10px 15px 0px hsla(212, 37%, 81%, 0.733);

}

img{
    max-width: 260px;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
}

h2{
    margin: auto;
    max-width: 250px;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 20px;
    
}

p{
    margin: auto;
    max-width: 250px;
    color:hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;

    margin-bottom: 25px;
}